.custom-input {
    position: relative;
}

.custom-input__field {
    width: 540px;
    height: 56px;
    border: 1px solid #D6D2C4;
    cursor: pointer;
}

.custom-input__field:focus-visible {
    outline: none;
}

.custom-input__field:hover {
    outline: 1px solid rgba(29, 37, 45, 1);
}

.custom-input__field:focus {
    outline: 1px solid rgba(29, 37, 45, 1)
}

.custom-input__label {
    position: absolute;
    padding: 2px;
    background-color: #FFFFFF;
    transform: translateY(-50%);
    left: 20px;
}

.custom-input__icon {
    position: absolute;
    width: 26px;
    height: 26px;
    overflow: hidden;
    right: 10px;
    bottom: 0;
    transform: translateY(-50%);
}

.custom-input__invalid-field {
    position: absolute;
    color: #E80E0A;
    left: 0;
    bottom: 0;
    transform: translateY(100%);
    font-size: 12px;
    line-height: 14px;
    font-weight: 300;
}

.custom-input--error {
    outline: 1px solid #E80E0A;
}

.custom-input__icon-email--error {
    fill: #E80E0A;
}
