.form {
    margin-bottom: 120px;
}

.form-cv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.form-cv__field {
    width: 540px;
    height: 66px;
    border: 1px solid #D6D2C4;
}

.form-cv__field {
    margin: 0;
}

.form-cv__group-personal-data {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.form-cv__personal-data-checkbox {
    position: absolute;
    border: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
}

.form-cv__personal-data-label {
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    color: #1D252D;
    font-family: inherit;
    cursor: pointer;
    user-select: none;
    position: relative;
}

.form-cv__personal-data-label::before {
    content: "";
    position: absolute;
    left: -30px;
    border: 1px solid D6D2C4;
    width: 20px;
    height: 20px;
    display: none;
}

.form-cv__personal-data-checkbox:checked + .form-cv__personal-data-label::after {
    display: block;
    background-color: #D6D2C4;
}


.form-cv__personal-data-link {
    border-bottom: 1px solid #1D252D;
    color: #1D252D;
}

.form-cv__button-data {
    border: none;
    background-color: #D6D2C4;
    border-radius: 40px;
    width: 320px;
    height: 56px;
    color: #1D252D;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    font-weight: 300;
    font-family: inherit;
    cursor: pointer;
}
