.form {
    margin-bottom: 120px;
}

.form-cv {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.custom-input {
    position: relative;
}

.custom-input__field {
    width: 540px;
    height: 56px;
    border: 1px solid #D6D2C4;
}

.custom-input__label {
    position: absolute;
    padding: 2px;
    background-color: #FFFFFF;
    transform: translateY(-50%);
    left: 20px;
}

.custom-input__checkbox {
    display: flex;
    flex-direction: column;
}

.custom-input__checkbox-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.custom-input__checkbox-input{
    position: absolute;
    border: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
}

.custom-input__checkbox-label {
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    color: #1D252D;
    font-family: inherit;
    cursor: pointer;
    user-select: none;
    position: relative;
}

.custom-input__checkbox-label::before {
    content: "";
    position: absolute;
    left: -30px;
    border: 1px solid #D6D2C4;
    width: 20px;
    height: 20px;
}

.custom-input__checkbox-label::after {
    content: "";
    display: none;
    position: absolute;
    width: 20px;
    height: 20px;
    display: none;
    top: 0;
    left: 0;
    transform: translateX(-150%);
}

.custom-input__checkbox-input:checked + .custom-input__checkbox-label::after {
    display: block;
    background: url(/images/sprite/done.svg) no-repeat center #D6D2C4;
}


.custom-input__checkbox-link {
    border-bottom: 1px solid #1D252D;
    color: #1D252D;
}

.custom-input__checkbox-button {
    border: none;
    background-color: #D6D2C4;
    border-radius: 40px;
    width: 320px;
    height: 56px;
    color: #1D252D;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    font-weight: 300;
    font-family: inherit;
    cursor: pointer;
}
