.vacancies-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.vacancies-block__name {
    margin: 0;
    text-transform: uppercase;
}

.vacancies-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #D6D2C4;
    padding: 28px;
}

.vacancies-block__wrapper {
    display: flex;
    margin: 0 0 20px 0;
}

.vacancies-block__right-group-slash {
    margin: 0 5px 0 5px;
}

.vacancies-block--title {
    border: none;
}

.vacancies-block__right-group {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

.vacancies-block__right-group-tel {
    color: #1D252D;
    transition: .2s ease-in;
    position: relative;
}

.vacancies-block__right-group-tel::after {
    content: "";
    position: absolute;
    width: 0;
    transition: width 0.2s ease;
    height: 1px;
    background-color: rgba(29, 37, 45, 1);
    right: 0;
    bottom: 0;
}

.vacancies-block__right-group-tel:hover::after {
    width: 100%;
    
}

.vacancies-block__right-group-email {
    color: #1D252D;
}

.vacancies-block__right-group-send-cv {
    color: #1D252D;
}

.vacancies-block__right-group-send-cv:hover {
    color: rgba(29, 37, 45, 0.5);
}

.vacancies-cv {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.vacancies-cv__title {
    font-family: "IBM Plex Sans", "Arial", sans-serif;
    font-size: 48px;
    line-height: 58px;
    font-weight: 200;
    color: #1D252D;
    text-transform: uppercase;

}

.vacancies-cv__text {
    text-align: right;
    width: 280px;
}

